{% extends 'index.html' %}
{% block content %}
    <ul>
        <li>
            Пользователь: {{ username }} - загадал <strong>{{ user_numbers | last }}</strong> <br>
            Загаданные числа: {{ user_numbers }}
        </li>
        ===============
        {% for psys in psychics %}
            <li>
                {% with  last_num=psys.psy_all_number|last %}<br>
                Экстрасенс: {{ psys.psy_name }} - предположил, что это число <strong>{{ last_num.psy_num }}</strong><br>
                {% endwith %}
                Предполагаемые числа: {% for i in psys.psy_all_number %} {{ i.psy_num }}, {% endfor %}<br>
                Достоверность: {{ psys.psy_trust_level }}<br>
            ===============
            </li>
        {% endfor %}
    </ul>
        <a href={% url 'input_number' %}>Еще раз?</a>
{% endblock %}
